.el-menu {
    border-right-width: 0;
}
.header{
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    line-height: 50px;
    -webkit-box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}
.tags-view-container{
    padding: 16px 24px;
    background: #fff;
    font-size: 14px;
}